<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-blue">
                        <span class="widget-caption">{{ form_title }}</span>
                    </div>
                    <div class="widget-body">
                        <div>
                            {% if second_form %}
                                {{ wtf.quick_form(second_form) }}
                            {% endif %}
                            {{ wtf.quick_form(form) }}

                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


<!--Page Related Scripts-->
<!--Jquery Select2-->
<script src="/static/assets/js/select2/select2.js"></script>
<!--Bootstrap Tags Input-->
<script src="/static/assets/js/tagsinput/bootstrap-tagsinput.js"></script>

<!--Bootstrap Date Picker-->
<script src="/static/assets/js/datetime/bootstrap-datepicker.js"></script>

<!--Bootstrap Time Picker-->
<script src="/static/assets/js/datetime/bootstrap-timepicker.js"></script>

<!--Bootstrap Date Range Picker-->
<script src="/static/assets/js/datetime/moment.js"></script>
<script src="/static/assets/js/datetime/daterangepicker.js"></script>

<!--Jquery Autosize-->
<script src="/static/assets/js/textarea/jquery.autosize.js"></script>

<!--Fuelux Spinbox-->
<script src="/static/assets/js/fuelux/spinbox/fuelux.spinbox.min.js"></script>

<!--jQUery MiniColors-->
<script src="/static/assets/js/colorpicker/jquery.minicolors.js"></script>

<!--jQUery Knob-->
<script src="/static/assets/js/knob/jquery.knob.js"></script>

<!--noUiSlider-->
<script src="/static/assets/js/slider/jquery.nouislider.js"></script>

<!--jQRangeSlider-->
<script src="/static/assets/js/jquery-ui-1.10.4.custom.js"></script>
<script src="/static/assets/js/slider/jQRangeSlider/jQAllRangeSliders-withRuler-min.js"></script>

<!--Dropzone-->
<script src="/static/assets/js/dropzone/dropzone.min.js"></script>

<!--Page Related Scripts-->
<script src="/static/assets/js/toastr/toastr.js"></script>

<script>
    //--Jquery Select2--
    $("#country_id").select2();
    $("#vendor_id").select2();
    $("#customer").select2();
    $("#did").select2();
{##}
{#$('input').on('itemAdded', function(event) {#}
{#  // event.item: contains the item#}


    $(document).ready(function () {
        $('#outbound_number').tagsinput({
            confirmKeys: [13, 188, 44, 32],
{#            freeInput: true,#}
            tagClass: 'big',
            {#        value = 'Ajl dkdk m fld m , d ll ',#}
{#            split: ';'#}
        });

       $('#outbound_number').on('itemAdded', function (event) {
            var isnum = /^\d+$/.test(event.item);
            if (!isnum){
                $('#outbound_number').tagsinput('remove', event.item);
            }
        });
    });


    $(".form-group").each(function () {

        var id = $(this).find(".form-control").attr("id");
        var title = id
        var content = 'No description'
        switch (title) {
            case 'country_id':
                content = 'Country that the DID belongs to'
                title = '🌐 Country'
                break;
            case 'vendor_id':
                content = 'Vendor of the DIDs within that country'
                title = '🏪 Vendor'
                break;
            case 'type_id':
                content = 'Type of DIDs provided by the vendor'
                title = '☎️ Type - Coming Soon'
                break;
            case 'did':
                content = 'Choose the phone number you would like to use'
                title = '📲️ DID Number'
                break;
            case 'customer':
                content = 'Customer the DID belongs to'
                title = '🧑 Customer'
                break;
            case 'a2b_username':
                content = 'Username of A2Billing account from witch the sms will be send.'
                title = '👤 A2Billing Username'
                break;
            case 'a2b_password':
                content = 'Password of A2Billing account from witch the sms will be send.'
                title = '🔑 A2Billing Password'
                break;
            case 'outbound_number':
                content = 'Numbers should be entered in a full international format:\n' +
                    'For example for send SMS to UK mobile type please number in the next format: 004477XXXXXXX '
                title = '🔢 Outbound Numbers'
                break;

            default:
            // code block
        }

        $(this).attr({
            'data-toggle': 'popover-hover',
            'data-placement': 'right',
            'data-title': title,
            'data-container': 'body',
            'data-titleclass': 'bordered-yellow',
            'data-content': content
        });
    });


    $("#e2").select2({
        placeholder: "Select a State",
        allowClear: true
    });

    //--Bootstrap Date Picker--
    $('.date-picker').datepicker();

    //--Bootstrap Time Picker--
    $('#timepicker1').timepicker();

    //--Bootstrap Date Range Picker--
    $('#reservation').daterangepicker();

    //--JQuery Autosize--
    $('#textareaanimated').autosize({append: "\n"});

    //--Fuelux Spinbox--
    $('.spinbox').spinbox();


    //--jQuery MiniColors--
    $('.colorpicker').each(function () {
        $(this).minicolors({
            control: $(this).attr('data-control') || 'hue',
            defaultValue: $(this).attr('data-defaultValue') || '',
            inline: $(this).attr('data-inline') === 'true',
            letterCase: $(this).attr('data-letterCase') || 'lowercase',
            opacity: $(this).attr('data-opacity'),
            position: $(this).attr('data-position') || 'bottom left',
            change: function (hex, opacity) {
                if (!hex) return;
                if (opacity) hex += ', ' + opacity;
                try {
                    console.log(hex);
                } catch (e) {
                }
            },
            theme: 'bootstrap'
        });

    });


    //---Jquery Knob--
    $(".knob").knob();


    //---noUiSlider--
    $("#sample-minimal").noUiSlider({
        range: [0, 100],
        start: [20, 80],
        connect: true,
        serialization: {
            mark: ',',
            resolution: 0.1,
            to: [[$("#minimal-label1"), 'html'],
                [$('#minimal-label2'), 'html']]
        }
    });

    $("#sample-onehandle").noUiSlider({
        range: [20, 100],
        start: 40,
        step: 20,
        handles: 1,
        connect: "lower",
        serialization: {
            to: [$("#low"), 'html']
        }
    });
    $("#sample-onehandle-upper").noUiSlider({
        range: [20, 100],
        start: 70,
        step: 20,
        handles: 1,
        connect: "upper",
        serialization: {
            to: [$("#low"), 'html']
        }
    });
    $('.slider').noUiSlider({
        range: [0, 255],
        start: 127,
        handles: 1,
        connect: "lower",
        orientation: "vertical",
        serialization: {
            resolution: 1
        }
        , slide: function () {

            var color = 'rgb(' + $("#red").val()
                + ',' + $("#green").val()
                + ',' + $("#blue").val()
                + ')';

            $(".result").css({
                background: color
                , color: color
            });
        }
    });

    $(".sized-slider").noUiSlider({
        range: [0, 100],
        start: 50,
        handles: 1,
        connect: "lower",
        serialization: {
            to: [$("#low"), 'html']
        }
    });

    $(".colored-slider").noUiSlider({
        range: [0, 100],
        start: 30,
        handles: 1,
        connect: "lower",
        serialization: {
            to: [$("#low"), 'html']
        }
    });

    //--jQRangeSlider--
    $(".sized-rangeslider").rangeSlider();
    $(".colored-rangeslider").rangeSlider();
    $("#rangeslider").rangeSlider();
    $("#editrangeslider").editRangeSlider();
    $("#daterangeslider").dateRangeSlider();
    $("#noarrowsrangeslider").rangeSlider({arrows: false});
    $("#boundsrangeslider").rangeSlider({bounds: {min: 10, max: 90}});
    $("#dvrangeslider").rangeSlider({defaultValues: {min: 13, max: 66}});
    $("#delayrangeslider").rangeSlider({valueLabels: "change", delayOut: 4000});
    $("#durationrangeslider").rangeSlider({valueLabels: "change", durationIn: 1000, durationOut: 1000});
    $("#disabledrangeslider").rangeSlider({enabled: false});
    $("#steprangeslider").rangeSlider({step: 10});
    $("#labelsrangeslider").rangeSlider({valueLabels: "hide"});
    $("#simlescalesrangeslider").rangeSlider({
        scales: [
            // Primary scale
            {
                first: function (val) {
                    return val;
                },
                next: function (val) {
                    return val + 10;
                },
                stop: function (val) {
                    return false;
                },
                label: function (val) {
                    return val;
                },
                format: function (tickContainer, tickStart, tickEnd) {
                    tickContainer.addClass("myCustomClass");
                }
            },
            // Secondary scale
            {
                first: function (val) {
                    return val;
                },
                next: function (val) {
                    if (val % 10 === 9) {
                        return val + 2;
                    }
                    return val + 1;
                },
                stop: function (val) {
                    return false;
                },
                label: function () {
                    return null;
                }
            }]
    });
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];
    $("#dateRulersExample").dateRangeSlider({
        bounds: {min: new Date(2012, 0, 1), max: new Date(2012, 11, 31, 12, 59, 59)},
        defaultValues: {min: new Date(2012, 1, 10), max: new Date(2012, 4, 22)},
        scales: [{
            first: function (value) {
                return value;
            },
            end: function (value) {
                return value;
            },
            next: function (value) {
                var next = new Date(value);
                return new Date(next.setMonth(value.getMonth() + 1));
            },
            label: function (value) {
                return months[value.getMonth()];
            },
            format: function (tickContainer, tickStart, tickEnd) {
                tickContainer.addClass("myCustomClass");
            }
        }]
    });
</script>