<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-yellow">
                    <span class="widget-caption">
                        {% if table_title %}{{ table_title }} {% else %}{{ ('Search table') }}{% endif %}
                    </span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body no-padding">
                {{ table }}
            </div>
        </div>
    </div>
</div>


<!--Page Related Scripts-->
<script src="../static/assets/js/datatable/jquery.dataTables.min.js"></script>
<script src="../static/assets/js/datatable/ZeroClipboard.js"></script>
<script src="../static/assets/js/datatable/dataTables.tableTools.min.js"></script>
<script src="../static/assets/js/datatable/dataTables.bootstrap.min.js"></script>
<script src="../static/assets/js/datatable/datatables-init.js"></script>
<script>
    InitiateSimpleDataTable.init();
    InitiateEditableDataTable.init();
    InitiateExpandableDataTable.init();
    InitiateSearchableDataTable.init();
</script>

